@import url(../Vendor/normalize.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/profile.css);
@import url(../blocks/element.css);
@import url(../blocks/footer.css);
@import url(../blocks/form.css);
@import url(../vendor/fonts.css);
@import url(/vendor/fonts.css);

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url(../vendor/Fonts/InterDisplay-Black.woff2);
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url(../vendor/Fonts/InterDisplay-Light.woff2);
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url(../vendor/Fonts/InterDisplay-Black.woff2);
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url(/vendor/Fonts/InterDisplay-Black.woff2);
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url(/vendor/Fonts/InterDisplay-Light.woff2);
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url(/vendor/Fonts/InterDisplay-Black.woff2);
}
